@mixin breakpoint($br)
	@if $br == "xs"
		@media (max-width: 667px)
			@content
	@else if $br == "sm"
		@media (min-width: 668px)
			@content
	@else if $br == "md"
		@media (min-width: 892px)
			@content
	@else if $br == "lg"
		@media (min-width: 1250px)
			@content
	@else if $br == "xl"
		@media (min-width: 1800px)
			@content

@mixin flex($direction, $justify, $align)
	display: flex
	flex-direction: $direction
	justify-content: $justify
	align-items: $align

@mixin container()
	width: 100%
	height: 100%

@mixin full-screen-fixed()
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0