<template>
  <div class="home bg-gray-200 pt-12 z-10 inset-x-0 absolute">
	 <HelloWorld/>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home',
  components: {
	HelloWorld
  }
}
</script>

<style scoped lang="sass">
@import "../styles/mixins.sass"

.home
  overflow-y: scroll
  top: 4rem
  bottom: 0
</style>
