<template>
  <div class="hello">
    <h1 class="text-2xl md:text-3xl lg:text-5xl xl:text-5xl mx-6 text-left md:text-center text-black font-medium">A platform for musicians to <br /><span class="pink">connect and grow together.</span></h1>
    <p class="text-left text-xl text-gray-800 mx-6 mt-12 md:mx-64 md:text-center md:max-w-48" style="line-height: 1.6">
      Avadio enables musicians to showcase their creative work, engage with their audience and sell music directly to their fans. Listen to fresh productions made by independent artists from all over the world or create a customizable portfolio to put your art and yourself into the spotlight.
    </p>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="sass">
@import "../styles/mixins.sass"

.hello
  width: 100%
  height: 100%

  h1
    line-height: 3.5rem

.pink
  color: #f40f78
</style>
