<template>
  <div class="mobile-menu fixed inset-0 bg-white z-50 select-none" id="mobilemenu" :style="{transform: 'translateY(' + currentY + 'px)'}">
    <div class="flex flex-col justify-between items-start w-full h-full">
      <div class="flex flex-row justify-between items-center w-full p-6">
        <router-link to="/" @click="close()">
          <img src="/img/SquareLogo.svg" class="h-10 w-10 rounded-lg" />
        </router-link>
        <i class="la la-times cursor-pointer" style="font-size: 24px;" @click="close()" />
      </div>
      <!--<div class="flex flex-col text-md px-6 py-2">
        <div class="flex flex-row justify-start items-center mb-4">
          <i class="la la-compass w-7 h-7 mr-4" style="font-size: 24px; color: #f40f78" />
          <span class="font-medium flex items-center">Explore</span>
        </div>

        <div class="flex flex-row justify-start items-center mb-4">
          <i class="la la-palette w-7 h-7 mr-4" style="font-size: 24px; color: #f40f78" />
          <span class="font-medium flex items-center">Chroma</span>
        </div>

        <div class="flex flex-row justify-start items-center mb-4">
          <i class="la la-user-circle w-7 h-7 mr-4" style="font-size: 24px; color: #f40f78" />
          <span class="font-medium flex items-center">Upcoming Artists</span>
        </div>

        <div class="flex flex-row justify-start items-center mb-4">
          <i class="la la-chart-line w-7 h-7 mr-4" style="font-size: 24px; color: #f40f78" />
          <span class="font-medium flex items-center">Music Charts</span>
        </div>
      </div>-->

      <div class="separator bg-gray-300 w-full" style="height: 1px"></div>

      <div 
        class="flex flex-col flex-grow overflow-y-scroll"
        @scroll="onScroll"
        @touchstart="onTouchStart"
        @touchmove="onTouchMove"
        @touchend="onTouchEnd"
        :class="{'bg-blue-400': scrolledToBottom}">
        <NavDropdownItem
          icon="compass"
          title="Explore"
          color="#f40f78"
          description="Discover music from new artists, genres and compilations"
        />

        <NavDropdownItem
          icon="palette"
          title="Chroma"
          color="#f40f78"
          description="Find music from different genres by using a color wheel"
        />

        <NavDropdownItem
          icon="user-circle"
          title="Upcoming Artists"
          color="#f40f78"
          description="New musicians who are on the rise"
        />

        <NavDropdownItem
          icon="chart-line"
          title="Music Charts"
          color="#f40f78"
          description="Find out who is currently in the Top 50"
        />

        <NavDropdownItem
          icon="question-circle"
          title="Help Center"
          color="#f40f78"
          description="Look into frequently asked questions or open a support ticket"
        />

        <NavDropdownItem
          icon="shield-alt"
          title="Security"
          color="#f40f78"
          description="Learn more about how Avadio handles user data and how it makes financial transactions"
        />

        <NavDropdownItem
          icon="mountain"
          title="Platform Tour"
          color="#f40f78"
          description="Confused? Let us guide you around the most important features of our platform"
        />

        <NavDropdownItem
          icon="calendar"
          title="Events"
          color="#f40f78"
          description="Find out when your favorite artists will be on tour again"
        />
      </div>


      <!--<div class="flex flex-row p-6 w-full">
        <div class="flex flex-col items-start w-1/2">
          <router-link to="/plans" class="font-medium mb-3">Plans</router-link>
          <router-link to="/security" class="font-medium mb-3">Security</router-link>
          <router-link to="/help-center" class="font-medium mb-3">Help Center</router-link>
          <router-link to="/about-us" class="font-medium mb-3">About Us</router-link>
        </div>

        <div class="flex flex-col items-start w-1/2">
          <router-link to="/docs" class="font-medium mb-3">Docs</router-link>
          <router-link to="/blog" class="font-medium mb-3">Blog</router-link>
          <router-link to="/platform-tour" class="font-medium mb-3">Platform Tour</router-link>
          <router-link to="/events" class="font-medium mb-3">Events</router-link>
        </div>
      </div>-->

      <div class="separator mb-8 bg-gray-300 w-full" style="height: 1px"></div>

      <div class="flex flex-col font-medium px-6 w-full">

        <router-link to="/auth/sign-up" class="flex justify-center items-center w-full h-10 rounded-md text-gray-900" style="background: #ffbd04">
          Sign up
        </router-link>
        <div class="text-gray-700 mt-4 mb-6">Already a member? <router-link to="/auth/login" class="font-medium" style="color: #f40f78">Sign in</router-link></div>
      </div>
    </div>
  </div>
</template>

<script>
import NavDropdownItem from './NavDropdownItem'
import anime from 'animejs'

export default {
  name: 'MobileMenu',
  components: {
    NavDropdownItem,
  },
  data () {
    return {
      scrolledToBottom: false,
      isTouching: false,
      currentY: 0,
      initialY: 0,
      offsetY: 0,
    }
  },
  methods: {
    close () {
      this.$store.commit('SET_NAV_VISIBLE', false)
    },

    onScroll (event) {
      this.scrolledToBottom = event.target.offsetHeight + event.target.scrollTop >= event.target.scrollHeight - 20
    },

    onTouchStart (event) {
      if (this.scrolledToBottom) {
        this.isTouching = true
        this.initialY = event.touches[0].clientY - this.offsetY
      }
    },
    onTouchMove (event) {
      if (this.scrolledToBottom) {
        event.preventDefault()
        this.currentY = event.touches[0].clientY - this.initialY
        if (this.currentY >= 0) { this.currentY = 0 }
        console.log(this.currentY)
      }
    },
    onTouchEnd (event) {
      this.isTouching = false

      console.log('touchend currentY' + this.currentY)

      if (this.scrolledToBottom) {
        if (this.currentY <= -210) {
          console.log('hiding menu')
          this.$store.commit('SET_NAV_VISIBLE', false)
        } else {
          /*anime({
            targets: '#mobilemenu',
            translateY: 0,
            direction: 'alternate',
            easing: 'spring(1, 96, 10, 0)'
          })*/
        }
      }
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="sass">
@import "../styles/mixins.sass"

.mobile-menu
</style>