<template>
  <nav class="flex items-center justify-between flex-no-wrap bg-white px-6 lg:px-16 h-16 z-20">
    <div class="flex items-center flex-shrink-0 text-gray-800 mr-6">
      <img src="/img/SquareLogo.svg" class="h-8 w-8 rounded-lg lg:hidden xl:hidden" />
      <img src="/img/logo.svg" class=" hidden sm:hidden md:hidden lg:block xl:block" style="height: 33px" />
    </div>

    <!--<div class="search flex flex-grow sm:flex-grow md:flex-grow lg:flex-grow-0 flex-shrink items-center min-w-0 lg:max-w-48">
      <i class="la la-search h-6 w-6 text-gray-600"></i>
      <input type="text" class="w-full bg-gray-200 h-10 rounded-lg pl-10 placeholder-gray-900 placeholder-opacity-100 font-medium min-w-none" placeholder="Search">
    </div>-->

    <div class="flex items-center lg:hidden ml-6">
      <i class="la la-bars cursor-pointer" style="font-size: 24px;" @click="showMenu()" />
    </div>

    <div class="hidden lg:flex xl:flex items-center flex-shrink-0 mr-16 select-none text-gray-700">
        <div class="flex items-center cursor-pointer mr-10 dropdown-parent" @click="switchModal('music')">
          <span class="font-semibold transition transition-colors duration-100" :class="{'text-black': showMusicDropdown}">Discover</span>
          <i class="la la-angle-down ml-1 transform transition transition-colors duration-100" :class="{'text-black': showMusicDropdown}" />
          <transition name="fade-up">
            <div 
              class="absolute dropdown bg-white z-30 rounded-lg border border-gray-300 shadow-xl overflow-hidden"
              @blur="setModal('music', false)"
              v-if="showMusicDropdown"
              >

              <NavDropdownItem
                icon="compass"
                title="Explore"
                color="#f40f78"
                description="Discover music from new artists, genres and compilations"
              />

              <NavDropdownItem
                icon="palette"
                title="Chroma"
                color="#f40f78"
                description="Find music from different genres by using a color wheel"
              />

              <NavDropdownItem
                icon="user-circle"
                title="Upcoming Artists"
                color="#f40f78"
                description="New musicians who are on the rise"
              />

              <NavDropdownItem
                icon="chart-line"
                title="Music Charts"
                color="#f40f78"
                description="Find out who is currently in the Top 50"
              />
            </div>
          </transition>
        </div>

        <div class="flex items-center cursor-pointer mr-10">
          <span class="font-semibold">Plans</span>
        </div>

        <div class="flex items-center cursor-pointer mr-10">
          <span class="font-semibold">About us</span>
        </div>

        <div class="flex items-center cursor-pointer mr-10 dropdown-parent" @click="switchModal('more')">
          <span class="font-semibold transition transition-colors duration-100" :class="{'text-black': showMoreDropdown}">More</span>
          <i class="la la-angle-down ml-1 transform transition transition-transform duration-100" :class="{'text-black': showMoreDropdown}"/>
          <transition name="fade-up">
            <div 
              class="absolute dropdown bg-white z-30 rounded-lg border border-gray-300 pb-3 overflow-hidden"
              @blur="setModal('more', false)"
              v-if="showMoreDropdown"
              >

              <NavDropdownItem
                icon="question-circle"
                title="Help Center"
                color="#f40f78"
                description="Look into frequently asked questions or open a support ticket"
              />

              <NavDropdownItem
                icon="shield-alt"
                title="Security"
                color="#f40f78"
                description="Learn more about how Avadio handles user data and how it makes financial transactions"
              />

              <NavDropdownItem
                icon="mountain"
                title="Platform Tour"
                color="#f40f78"
                description="Confused? Let us guide you around the most important features of our platform"
              />

              <!--<NavDropdownItem
                icon="feather"
                title="Blog"
                color="#f40f78"
                description="Read about our culture as well as how and why we are running this platform"
              />-->

              <NavDropdownItem
                icon="calendar"
                title="Events"
                color="#f40f78"
                description="Find out when your favorite artists will be on tour again"
              />
            </div>
          </transition>
        </div>
      </div>

    <div class="hidden lg:flex xl:flex items-center flex-shrink-0">
      <router-link to="/auth/login" class="font-medium text-gray-700 flex-shrink-0 mr-4">Login</router-link>

      <router-link to="/auth/sign-up" class="flex font-medium justify-center items-center h-10 rounded-md text-gray-900 flex-shrink-0 px-4" style="background: #ffbd04">
        Sign up
      </router-link>
    </div>
  </nav>
</template>

<script>
import NavDropdownItem from './NavDropdownItem'

export default {
  name: 'Nav',
  components: {
    NavDropdownItem,
  },
  data () {
    return {
      showMusicDropdown: false,
      showMoreDropdown: false,
    }
  },
  mounted () {
    document.addEventListener('click', event => {
      /*if (!event.target.matches('.dropdown') || !event.target.matches('.dropdown-parent')) {
        if (this.showMusicDropdown) { this.setModal('music', false) }
        if (this.showMoreDropdown) { this.setModal('more', false) }
      }*/
    })
  },
  methods: {
    showMenu () {
      this.$store.commit('SET_NAV_VISIBLE', true)
    },

    setModal (which, state) {
      if (which == 'music') {
         if (this.showMoreDropdown == true) { this.showMoreDropdown = false }
        this.showMusicDropdown = state

      } else if (which == 'more') {
        if (this.showMusicDropdown == true) { this.showMusicDropdown = false }
        this.showMoreDropdown = state

      } else {
        console.error('unknown dropdown')
      }
    },

    switchModal (which) {
      if (which == 'music') {
         if (this.showMoreDropdown == true) { this.showMoreDropdown = false }
        this.showMusicDropdown = !this.showMusicDropdown

      } else if (which == 'more') {
        if (this.showMusicDropdown == true) { this.showMusicDropdown = false }
        this.showMoreDropdown = !this.showMoreDropdown

      } else {
        console.error('unknown dropdown')
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="sass">
@import "../styles/mixins.sass"

.fade-up-enter-active, .fade-up-leave-active 
  transition: opacity 0.2s, transform 0.2s

.fade-up-enter, .fade-up-leave-to /* .fade-leave-active below version 2.1.8 */
  opacity: 0
  transform: scale(0.95)

nav
  .dropdown
    top: calc(4rem - 10px)
    width: 360px

  .search
    position: relative
    box-sizing: padding-box

    i
      position: absolute
      transform: translate(7px, 4px)
</style>
