<template>
  <div class="flex w-full pt-6 pb-6 pr-6 pl-6 transition-colors duration-100 hover:bg-gray-200">
    <i :class="`la la-${icon} w-6 h-8 mr-4`" :style="`font-size: 24px; color: ` + color" />
    <div class="flex flex-col align-left">
      <span class="font-medium text-gray-900 flex">{{ title }}</span>
      <span class="text-gray-700 text-left text-sm mt-1 font-regular">{{ description }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NavDropdownItem',
  props: {
    icon: String,
    color: String,
    title: String,
    description: String,
  }
}
</script>
