<template>
  <div class="flex items-center cursor-pointer mr-10" @click="switchModal('music')">
    <span class="font-semibold">{{ name }}</span>
    <i class="la la-angle-down ml-1 transform transition transition-transform duration-100" :class="{'rotate-180': isEnabled, 'translate-y-1': isEnabled}" />
    <transition name="fade-up">
      <div 
        class="absolute dropdown bg-white z-30 rounded-lg border border-gray-300 pb-3 overflow-hidden pl-2 pr-3"
        v-if="isEnabled">

        <NavDropdownItem
          v-for="item in items"
          :icon="item.icon"
          :title="item.title"
          :color="item.color"
          :description="item.description"
        />
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'NavDropdown',
  props: {
    name:      String,
    items:     String,
    isEnabled: Boolean,
    onToggle:  Function,
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="sass">
.fade-up-enter-active, .fade-up-leave-active 
  transition: opacity 5s, transform 5s

.fade-up-enter, .fade-up-leave-to /* .fade-leave-active below version 2.1.8 */
  opacity: 0
  transform: scale(0.95)
</style>
