<template>
  <div id="app">
    <transition name="slide">
      <MobileMenu v-if="showMobileMenu" />
    </transition>
    <Nav />
    <router-view/>
  </div>
</template>

<script>
import MobileMenu from './components/MobileMenu'
import Nav from './components/Nav'

export default {
  name: 'App',
  computed: {
    showMobileMenu () {
      return this.$store.getters.isNavVisible
    }
  },
  components: {
    MobileMenu,
    Nav,
  }
}
</script>

<style lang="scss">
@import url("https://rsms.me/inter/inter.css");

@import './styles/main';

* {
  box-sizing: margin-box;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.2s, transform 0.2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: scale(0.95);
}

.slide-enter-active, .slide-leave-active {
  transition: transform 0.2s;
}
.slide-enter, .slide-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: translateY(-100vw)
}

html, body, #app {
  position: fixed;
  width: 100vw;
  height: 100vh;
  //background: lighten(#e4e9edff, 1%);
  font-size: 16px;
  line-height: 1.5rem;
}

h1 {
  line-height: 2rem;
}

#app {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  font-size: 16px;
}

input {
  font-size: 15px;
  min-width: none;
}
</style>
